# SPDX-FileCopyrightText: 2024 Nikita Chernyi
# SPDX-FileCopyrightText: 2024 Slavi Pantaleev
#
# SPDX-License-Identifier: AGPL-3.0-or-later

---
- name: (Deprecation) Catch and report renamed settings
  ansible.builtin.fail:
    msg: >-
      Your configuration contains a variable, which now has a different name.
      Please change your configuration to rename the variable (`{{ item.old }}` -> `{{ item.new }}`).
  when: "lookup('ansible.builtin.varnames', ('^' + item.old + '$'), wantlist=True) | length > 0"
  with_items:
    - { "old": "keydb_container_keydb_bind_port", "new": "keydb_container_http_host_bind_port" }

- name: Fail if required KeyDB settings not defined
  ansible.builtin.fail:
    msg: >-
      You need to define a required configuration setting (`{{ item }}`).
  when: "lookup('vars', item, default='') | string | length == 0"
  with_items:
    - keydb_identifier
    - keydb_uid
    - keydb_gid
    - keydb_arch

- name: Fail if KeyDB architecture is not supported
  ansible.builtin.fail:
    msg: >-
      Your configuration specifies a CPU architecture (`{{ keydb_arch }}`) which is not currently supported.
      This KeyDB role also does not support self-building yet, so it's not possible to make use of it.
  when: "keydb_arch not in ['x86_64', 'arm64']"
